<nav aria-label="Main Navigation" id="main-nav">
    <ul>
        <li><a href="" id="logo"><img src="/icons8-maxcdn-48.png" alt="logo" /></a></li>
        <li><a href="" id="home">Home</a></li>
        <li><a href="" id="work">Work</a></li>
        <li><a href="" id="about">About</a></li>
        <li><a href="" id="contact">Contact</a></li>
    </ul>
</nav>