<nav aria-label="Main Navigation" id="main-nav">
    <ul>
        <li><a href="/" id="logo"><img src="assets/icons8-maxcdn-48.png" alt="logo" /></a></li>
        <li><a href="/" id="home">Home</a></li>
        <li><a href="/work" id="work">Work</a></li>
        <li><a href="/about" id="about">About</a></li>
        <li><a href="/contact" id="contact">Contact</a></li>
    </ul>
</nav>