<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>Error 404 This page does not exist</title>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/404.css" />
    <link rel="icon" type="image/png" href="/icons/icons8-maxcdn-48.png">
</head>
<body>
    
    <%- include('partials/nav') %>

    <article>

        <div id="wrapper">
            <div id="img-wrapper">
                <img src="/assets/24.svg" alt="404 graphic">
            </div>
            <div id="info-wrapper">
                <h1>Oops!</h1>
                <h2>This page does not exist</h2>
                <p>You propably entered an ivalid url</p>
            </div>
        </div>

    </article>

</body>
</html>