<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>About | Markos Souchlakis</title>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="icon" type="image/png" href="/icons/icons8-maxcdn-48.png">
</head>
    <body>
    
        <%- include('partials/nav') %>

        <div class="header">
            <div class="header-h1">
                <h1>About Me</h1>
            </div>
            <div class="header-p">
                <p>Take a moment to explore the projects that showcase my skills and creativity. I’d love the opportunity to work with you and bring new ideas to life - let’s collaborate and make something great together!</p>
            </div>
        </div>


        <article>
            <img src="/assets/1-intro-photo-final.jpg" alt="me" id="me-img1" >
            <section>
                <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab distinctio nesciunt commodi est ad magni, exercitationem tempora dolores quo ex quas nisi rem vitae nobis!</p>
                <p>Culpa ratione obcaecati cupiditate optio quibusdam nihil tenetur aperiam soluta hic impedit. Illum, minima laborum? Cum mollitia error molestias? Possimus nemo cum corrupti voluptates provident!</p>
                <p>Ratione fugiat maiores culpa commodi debitis modi vel deserunt molestias quae odit nulla dolore sint aliquam est ducimus, praesentium voluptatem repellat facere nihil beatae. Similique!</p>
            </section>
        </article>


        <%- include('partials/contact') %>
        
        <%- include('partials/footer') %>

    <script>


        let nav = document.querySelector('#main-nav');
        document.querySelector('#about').style.borderBottom = "2px solid #ff6e42"

        window.addEventListener("scroll", () => {
            if (window.scrollY > 200) {
                nav.classList.add('scrolled');
            } else {
                nav.classList.remove('scrolled');
            }
        });

                
        document.querySelector('#top').addEventListener('click', () => {
            window.scrollTo({top:0, behavior:'smooth'});
        });


        document.querySelector('#top').addEventListener('click', () => {
            window.scrollTo({top:0, behavior:'smooth'});
        });


    </script>
        
    </body>
</html>