<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>About | Markos Souchlakis</title>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="icon" type="image/png" href="/icons/icons8-maxcdn-48.png">
</head>
    <body>
    
        <%- include('partials/nav') %>

        <div class="header">
            <div class="header-h1">
                <h1>About Me</h1>
            </div>
            <div class="header-p">
                <p>Take a moment to explore the projects that showcase my skills and creativity. I’d love the opportunity to work with you and bring new ideas to life - let’s collaborate and make something great together!</p>
            </div>
        </div>

        <%- include('partials/contact') %>
        
        <%- include('partials/footer') %>

        <script>
    
    
            let nav = document.querySelector('#main-nav');
            document.querySelector('#about').style.borderBottom = "2px solid #ff6e42"
    
            window.addEventListener("scroll", () => {
                if (window.scrollY > 200) {
                    nav.classList.add('scrolled');
                } else {
                    nav.classList.remove('scrolled');
                }
            });
    
    
        </script>
        
    </body>
</html>