<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>About | Markos Souchlakis</title>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="icon" type="image/png" href="/icons/icons8-maxcdn-48.png">
</head>
    <body>
    
        <%- include('partials/nav') %>

        <div class="header">
            <div class="header-h1">
                <h1>About Me</h1>
            </div>
            <div class="header-p">
                <p>I’m all about bringing creative ideas to life through thoughtful design and problem-solving. Let’s connect and see what we can build together!</p>
            </div>
        </div>


        <main>
            <section id="s1">

                <div id="me-img1">
                    <img src="/assets/1739023116925.jpg" alt="me" >
                </div>
                <h2>Hey! I'm Mark 👋</h2>
                <p>I'm a passionate web developer currently in my final year at university. My journey with programming started when I was 16, I didn’t like it at first, but over time, I started building projects for fun, and I absolutely fell in love with it.</p>
                <p>My mission is to create impactful and efficient web applications while constantly improving my skills. I thrive on problem-solving and bringing ideas to life through code.</p>
                <hr />
                <h2>💻 My Tech Stack</h2>
                <ul>
                    <li><strong>Frontend:</strong> JavaScript, HTML, CSS</li>
                    <li><strong>Backend:</strong> Node.js, Express, RESTful APIs</li>
                    <li><strong>Databases:</strong> PostgreSQL</li>
                    <li><strong>Other Tools:</strong> Git & version control, Linux command line</li>
                </ul>

            </section>

            <section id="s2">
                
                
                <div>
                    <div>
                        <img src="/assets/Screenshot from 2025-02-08 16-31-09.png" alt="">
                    </div>
                    <div>
                        <p>Technology’s always evolving, and I love staying on top of the latest trends. Whether it’s diving into a new framework, improving how I code, or optimizing performance, I’m always looking for ways to grow as a developer.</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/assets/Screenshot from 2025-02-08 17-47-34.png" alt="">
                    </div>
                    <div>
                        <p>I’ve explored a range of technologies over the years—everything from frontend design to backend development. Each project I take on teaches me something new and helps me sharpen my skills. I get a kick out of solving tough problems and coming up with creative, new solutions.</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/assets/IMG_20230227_064442.jpg" alt="">
                    </div>
                    <div>
                        <p>When I’m not coding, I love spending time outdoors. Camping is my favourite hobby. Bodybuilding is another passion of mine, helping me stay disciplined and push my physical limits. Additionally, I enjoy hiking, which gives me the opportunity to clear my mind.</p>
                    </div>
                </div>

            </section>
        </main>


        <%- include('partials/contact') %>
        
        <%- include('partials/footer') %>

        <script>


            let nav = document.querySelector('#main-nav');
            document.querySelector('#about').style.borderBottom = "2px solid #ff6e42"

            window.addEventListener("scroll", () => {
                if (window.scrollY > 200) {
                    nav.classList.add('scrolled');
                } else {
                    nav.classList.remove('scrolled');
                }
            });

                    
            document.querySelector('#top').addEventListener('click', () => {
                window.scrollTo({top:0, behavior:'smooth'});
            });


            document.querySelector('#top').addEventListener('click', () => {
                window.scrollTo({top:0, behavior:'smooth'});
            });


        </script>
        
    </body>
</html>