<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>Work | Markos Souchlakis</title>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/work.css" />
    <link rel="icon" type="image/png" href="/icons/icons8-maxcdn-48.png">
</head>
    <body>
    
        <%- include('partials/nav') %>

        <div class="header">
            <div class="header-h1">
                <h1>My Portofolio</h1>
            </div>
            <div class="header-p">
                <p>Check out my projects to see what I’ve been working on. I’d love to team up and create something amazing together!</p>
            </div>
        </div>
        
        <article>

            <div class="work-card" onclick="clickView(this)" >
                <div class="wimg-container">
                    <img src="/assets/Screenshot from 2025-02-08 17-54-57.png" alt="meal planner">
                </div>
                <div class="info">
                    <h2>01</h2>
                    <h2>Domifactus</h2>
                    <p>A website for an architecture agency</p>
                    <a href="https://markos-souchlos.github.io/architecture/en/home.html" target="_blank">VIEW</a>
                </div>
            </div>

            <div class="work-card" onclick="clickView(this)" >
                <div class="wimg-container">
                    <img src="/assets/gym-aiantas.png" alt="Gym Website">
                </div>
                <div class="info">
                    <h2>02</h2>
                    <h2>Gym Aiantas</h2>
                    <p>A website for a small gym at the center of Kavala that I used to go</p>
                    <a href="https://markos-souchlos.github.io/gym-website/" target="_blank">VIEW</a>
                </div>
            </div>

            <div class="work-card" onclick="clickView(this)" >
                <div class="wimg-container">
                    <img src="/assets/restaurant-kappari.png" alt="restaurant kappari">
                </div>
                <div class="info">
                    <h2>03</h2>
                    <h2>Restaurant Kappari</h2>
                    <p>A website for a famous restaurant in Serres </p>
                    <a href="https://restaurant-ca5q.onrender.com" target="_blank">VIEW</a>
                </div>
            </div>

            <div class="work-card" id="wc3" onclick="clickView(this)" >
                <div class="wimg-container">
                    <img src="/assets/nutrition-tracker.jpg" alt="macros tracker">
                </div>
                <div class="info">
                    <h2>04</h2>
                    <h2>Macros Tracker</h2>
                    <p>You can easily track your macros and calories</p>
                    <a href="/work/macros-tracker" target="_blank">VIEW</a>
                </div>
            </div>

            <div class="work-card" onclick="clickView(this)" >
                <div class="wimg-container">
                    <img src="/assets/meal-planner.png" alt="meal planner">
                </div>
                <div class="info">
                    <h2>05</h2>
                    <h2>Meal planner</h2>
                    <p>You can calculate you basic BRM, BMI, calories, macros and many more!</p>
                    <a href="/work/meal-planner" target="_blank">VIEW</a>
                </div>
            </div>

        </article>

        <%- include('partials/contact') %>
        
        <%- include('partials/footer') %>


    <script>


        let nav = document.querySelector('#main-nav');
        document.querySelector('#work').style.borderBottom = "2px solid #ff6e42"

        window.addEventListener("scroll", () => {
            if (window.scrollY > 200) {
                nav.classList.add('scrolled');
            } else {
                nav.classList.remove('scrolled');
            }
        });

        
        document.querySelector('#top').addEventListener('click', () => {
            window.scrollTo({top:0, behavior:'smooth'});
        });
        

        function clickView(card) {
            card.children[1].children[3].click();
        }


    </script>

    </body>
</html>